:root {
  --azul-claro: #93bcc1;
  --azul-escuro: #628b8f;
  --vermelho: #e6552e;
  --laranja: #f0a655;
  --creme-bege: #e8dcb5;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}
.banner {
  background-image: url(../img/azul_claro.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner_textos {
  padding: 13rem 4rem;
}
.banner_titulo {
  font-weight: bold;
}
.banner_saibaMais {
  background-color: var(--laranja);
  color: #000;
}

.banner_imagemPrinc {
  max-width: 100%;
  align-self: center;
}
.centraliza {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/fundo_login.svg);
  background-size: cover;
}
.vidro{
  /* From https://css.glass */
background: rgba(147, 188, 193, 0.4392156862745098);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(147, 188, 193, 0.76);
}
@media (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
  }
  .banner_textos {
    padding: 8rem 3rem;
  }
  .banner_imagemPrinc {
    max-width: 80%;
    justify-self: center;
  }
}


/* Banner 2: Quem somos*/
.container-fluid {
  padding: 40px;
}

.banner_titulo_dois {
  padding-top: 40px;
  text-align: center;
}

.section_dois{
  background-color:#faf6e9e0; }
/* tom mais claro do creme bege #faf6e9e0*/

.sub_somos {
  align-self: center;
}

/*Footer*/
.creator {
  padding-top: 60px;
}
