:root {
  --azul-claro: #93bcc1;
  --azul-escuro: #628b8f;
  --vermelho: #e6552e;
  --laranja: #f0a655;
  --creme-bege: #e8dcb5;
}

* {
  padding: 0px;
  margin: 0px;
}
.banner {
  background-image: url(../img/azul_claro.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner_textos {
  padding: 13rem 4rem;
}
.banner_titulo {
  font-weight: bold;
}
.banner_saibaMais {
  background-color: var(--laranja);
  color: #000;
}

.banner_imagemPrinc {
  max-width: 100%;
  align-self: center;
}

@media (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
  }
  .banner_textos {
    padding: 8rem 4rem;
  }
  .banner_imagemPrinc {
    max-width: 80%;
    justify-self: center;
  }
}

/*font-family: 'Gaegu', cursive;
    font-weight: bold;*/
