<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/globalStyle.css">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid centraliza">
        <div class="card vidro" style="width: 44rem;">
        <div class="card-body " >
            <div class="d-flex flex-column align-items-center">
                <img src="../img/MC_Logo.svg" width="50%" srcset="" class="">
                <h5 class="card-title align-self-start mt-2 font-weight-bold">Faça seu login:</h5>
            </div>
            <form>
                <div class="form-group">
                    <label for="email">Digite seu email:</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="contato@empresa.com.br" required="required">
                </div>
        
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha">
                </div>
        
                <button class="pushable btn btn-info" type="button" onclick="fazerLogin()">
                    <span class="edge"></span>
                    <span class="front">
                        Enviar
                    </span>
                </button>
                <a class="btn btn-outline-link" href="/">Não possui cadastro?</a>
            </form>
            
        </div>
    </div>
</div>

    <script src="../js/login.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>