
  <nav class="navbar navbar-expand-lg navbar-light navegacao" style="background-color: var(--azul-claro);">
    <a class="navbar-brand" href="/"><img src="../img/MC_Logo.svg" alt="Logo do projeto" width="200px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-lg-2" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#QuemSomos">Quem somos?</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown">
            Quero participar!
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" target="_blank" href="/cadastroDoadores">Quero ser doador!</a>
            <a class="dropdown-item" target="_blank" href="/cadastroRecebedores">Quero ser recebedor!</a>
          </div>
        </li>
        
      </ul>
      <a class="nav-link btn btn" style="color: black; background-color: var(--laranja);" href="/login">Login</a>
    </div> 
  </nav>