<nav class="navbar navbar-expand-md navbar-light navegacao" style="background-color: white;">
        <a class="navbar-brand" href="/"><img src="../img/MC_Logo.svg" alt="Logo do projeto"
                width="200px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex justify-content-between" id="conteudoNavbarSuportado">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Disponiveis <span class="sr-only">(página
                            atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/meusdados">Meus dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn_criar" href="/criarDoacao">Criar doação</a>
                </li>
            </ul>

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link btn pl-3 pr-3" style="background-color: var(--creme-bege); color: #000;" onClick="logout()">Sair</a>
                </li>
            </ul>
        </div>

    </nav>